<!DOCTYPE html> 
<html> 
<head>
 	<meta charset="utf-8"/>
	<title>Nautical Mile Calculator</title>
</head>
<body>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
	   <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css"/>
	<script src ="/assets/javascripts/index.js"></script>
	<div id = "wrapper"> 
		<h1> Nautical Distance calculator </h1>	
		<h2 class = "paragraph">Enter the names of the two airports you want to calculate the Nautical Distance between!</h2>	
		<br>
		<div id =  "form"> 
			<form>
				Airport 1: <input type="text" class = "fields" id ="field1">
				Airport 2: <input type="text" class = "fields" id = "field2">
			</form>
		</div>
	</div>
</body>
</html>
</html>
