#wrapper{ 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
    margin-top: 10px;
    margin-bottom: auto;
}
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }

.head {
    font-weight: 500;
}
.paragraph{
 	font-weight: 300;
}
#left{
float:left;
width:25%;
overflow:hidden;
}
#right{
float:right;
width:25%;
overflow:hidden;
} 
#map-canvas{
    width:100%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}
#answer{
    margin-top: 5%;
}
.fields{
	border-radius: 3px;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    transition: all 0.2s linear;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #222222;
    position: relative;
    height: 36px;
    width: 300px;
    padding-left: 10px;

 
}